@model UserToRegister
@{
    ViewData["Title"] = "SignUp";
}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 mx-auto">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="card">
                    <article class="card-body">
                        <h4 class="card-title text-center mb-4 mt-1">הרשם</h4>
                        <hr>
                        <form name="regForm" method="post" asp-controller="Auth" asp-action="SignUp">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="far fa-envelope-open"></i> </span>
                                    </div>
                                    <input asp-for="@Model.Email" required name="Email" class="form-control" placeholder="Email" type="email">
                                </div> <!-- input-group.// -->
                            </div> <!-- form-group// -->

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fas fa-user"></i> </span>
                                    </div>
                                    <input asp-for="@Model.Name" required name="Name" class="form-control" placeholder="Name" type="text">
                                </div> <!-- input-group.// -->
                            </div> <!-- form-group// -->


                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fas fa-phone"></i> </span>
                                    </div>
                                    <input asp-for="@Model.Phone" required name="Phone" class="form-control" placeholder="Phone" type="text">
                                </div> <!-- input-group.// -->
                            </div> <!-- form-group// -->


                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fas fa-lock"></i> </span>
                                    </div>
                                    <input asp-for="@Model.Password" required class="form-control" placeholder="Password" type="password">
                                </div> <!-- input-group.// -->
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <input type="submit" value="הרשם" class="btn btn-primary btn-block" />
                            </div> <!-- form-group// -->
                        </form>
                    </article>
                </div> <!-- card.// -->
            </div>

        </div>
    </div>
    