@model Order
@{
    ViewData["Title"] = "Index";
    var total = ViewBag.total;
    var subTotal = ViewBag.subTotal;
}

    <div class="container">
        <hr>
        <form id="contactForm" action="javascript:void(0);" method="post" dir="rtl">
            
            <div class="form-row">

                <div class="col-12 col-md-4 py-5 p-4 bg-white rounded shadow-sm"
                     style="height:280px;">
                    <div class="p-4">
                        <ul class="list-unstyled mb-4">
                            <li class="d-flex justify-content-between py-3 border-bottom" dir="rtl"><strong class="text-muted">מחיר </strong><strong>&#8362;@subTotal</strong></li>
                            <li class="d-flex justify-content-between py-3 border-bottom" dir="rtl"><strong class="text-muted">משלוח</strong><strong>&#8362;30.00</strong></li>
                            <li class="d-flex justify-content-between py-3 border-bottom" dir="rtl">
                                <strong class="text-muted">סהכ"ל</strong>
                                <h5 class="font-weight-bold">&#8362;@total</h5>
                            </li>
                        </ul>
                    </div>
                </div>



                <div class="col-12 col-md-6" id="message">
                    <h2 class="h4 text-center">
                        הזמנה
                    </h2>
                    <div class="form-group">
                        <label style="float:right" for="from-name" dir="rtl">שם<span class="required-input">*</span></label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user-o"></i></span></div><input class="form-control" type="text" id="from-name" name="name" required="" placeholder="שם">
                        </div>
                    </div>
                    <div class="form-group" dir="rtl">
                        <label for="from-email">אימייל</label><span class="required-input">*</span>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-envelope-o"></i></span></div><input class="form-control" type="text" id="from-email" name="email" required="" placeholder="אימייל">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="from-phone">מספר טלפון</label><span class="required-input">*</span>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-phone"></i></span></div><input class="form-control" type="text" id="from-phone" name="phone" required="" placeholder="מספר טלפון">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="from-calltime">Best Time to Call</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-clock-o"></i></span></div><select class="form-control" id="from-calltime" name="call time"><optgroup label="Best Time to Call"><option value="Morning" selected="">Morning</option><option value="Afternoon">Afternoon</option><option value="Evening">Evening</option></optgroup></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="from-comments">הערות</label>
                        <textarea class="form-control" id="from-comments" name="comments" placeholder="הערות" rows="5">
                    </textarea>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col"><button class="btn btn-primary btn-block" type="submit">לתשלום <i class="fa fa-chevron-circle-right"></i></button></div>
                        </div>
                    </div>
                    <hr class="d-flex d-md-none">
                </div>

            </div>
        </form>
    </div>

