
@{
    ViewData["Title"] = "אליק חלפי רחובות";
}
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3>צור קשר</h3>
                <div>
                    08-55555<br />
                    service@company.com<br />
                </div>
                <br />
                <h4>כתובת</h4>
                <div>
                    רחובות<br />
                    משה יתום 34<br />
                </div>
                <hr />
                <div id="map1" class="map">
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
